<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           https://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="employeeobj" class="com.edu.Employee">
<property name="ename" value="sweta"></property>
<property name="phones" >
<list>
<value>7879535343</value>
<value>7879535343</value>
<value>5345353435</value>
</list>
</property>

<property name="address">
<set>
<value>Banglore</value>
<value>Pune</value>
<value>Chennai</value>
</set>
</property>
<property name="courses">
<map>
<entry key="java" value="12"></entry>
<entry key="C" value="21"></entry>
<entry key="SQL" value="11"></entry>
</map>
</property>
</bean>
</beans>